// MQ trigger
@import "compass/CSS3";

@mixin small {
  @media only screen and (max-width: 766px) {
    @content;
  }
}

.full{
   width: 100% !important;
   margin-left: auto;
   margin-right: auto;
   max-width: 100% !important;
}


// Navigation
.main_h {
  position: fixed;
  max-height: 70px;
  z-index: 999;
  width: 100%;
  padding-top: 17px;
  background: none;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  top: -100px;
  padding-bottom: 6px;
  font-family: "Montserrat", sans-serif;
  @include small {
    padding-top: 25px;
  }
}

.open-nav {
  max-height: 400px !important;
  .mobile-toggle {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
  }
}

.sticky {
  background-color: rgba(255, 255, 255, 0.93);
  opacity: 1;
  top: 0px;
  padding: 10px;
}


nav {
  float: right;
  width: 60%;
  @include small {
    width: 100%;
  }

  ul {
    list-style: none;
    overflow: hidden;
    text-align: right;
    float: right;
    @include small {
    padding-top: 20px;
    margin-bottom: 20px;
    float: left;
    text-align: center;
    width: 100%;
    }

    li {
      display: inline-block;
      margin-left: 35px;
      line-height: 1.5;
      @include small {
      width: 100%;
      padding: 7px 0;
      margin: 0;
      }
    }
    a{
      color: #5c11ac;
      text-transform: uppercase;
      font-size: 12px;
    }

    a:hover{
      color: #5c11ac;
      text-transform: uppercase;
      font-size: 12px;
    }
  }
}

.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 22px;
  top: 20px;
  width: 30px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  @include small {
    display: block;
  }

  span {
    width: 30px;
    height: 4px;
    margin-bottom: 6px;
    border-radius: 1000px;
    background: #451392;
    display: block;
  }
}


// Page Style
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}


.content {
  padding: 50px 2% 250px;
}

.hero{
  position: relative;
  background-image: url(../img/fondo_1.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #fff;
  padding-top: 110px;
  min-height: 700px;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;

    .contenedor_header{
        display:inline-block;
        margin-top: 40px;
        .icon{
            margin-top: 100px;
        }
    }

.mouse {
  display: block;
  margin: 0 auto;
  width: 26px;
  height: 46px;
  border-radius: 13px;
  border: 2px solid #fff;
  bottom: 70px;
  position: absolute;
  left: 50%;
  margin-left: -14px;
  span {
    display: block;
    margin: 6px auto;
    width: 2px;
    height: 2px;
    border-radius: 4px;
    background: #fff;
    border: 1px solid transparent;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: scroll;
    animation-name: scroll;
  }
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}


@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}
}

.web{
  position: relative;
  background-image: url(../img/background_web.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: top;
  color: #fff;
  padding: 10px;
  padding-top: 50px;
  min-height: 680px;

    .texto{
        margin-top: 3em;
           p{
             padding: 40px 50px 10px 10px;
             color: dimgrey;
             font-family: 'Lato', sans-serif;
            }

            .button{
                background-color: #451392;
                @include border-radius(10px);
            }

            .titulo{
                 padding-left: 20px;
               }
    }

    .img_responsive{
        margin-top: 5em;
    }
}

.corporativo{
  position: relative;
  background-color: #451392;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-position: top;
  background-size: cover;
  background-position: center;
  color: #fff;
  min-height: 660px;
  background-image: url(../img/background_marca.png);
  background-size: cover;
  background-position:left;

    .texto{
        color: #fff;
        padding: 20px;
        padding-top: 170px;
            p{
                padding: 40px 50px 10px 10px;
                font-family: 'Lato', sans-serif;
            }

        .titulo{
            margin-left: 20px;
        }

        .button{
                background-color: #451392;
                @include border-radius(10px);
                border: 1px solid #fff;
                margin-left: 10px;
            }
    }
}

.digital{
     position: relative;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     background-position: top;
     background-size: cover;
     background-position: center;
     color: #fff;
     min-height: 650px;
     background-image: url(../img/background_digital.png);
     background-size: cover;
     background-position: center;

        .texto{
            color: #fff;
            padding: 20px;
            padding-top: 150px;
                p{
                    padding: 40px 80px 10px 10px;
                    color: dimgrey;
                    font-family: 'Lato', sans-serif;
                }

            .titulo{
                margin-left: 20px;
            }

            .button{
                    background-color: #451392;
                    @include border-radius(10px);
                    border: 1px solid #fff;
                    margin-left: 10px;
                }
        }
}

.ecommerce{
     position: relative;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     background-position: top;
     background-size: cover;
     background-position: center;
     min-height: 650px;
     background-image: url(../img/background_ecommerce.png);
     background-size: cover;
     background-position: center;

        .texto{
            color: #fff;
            padding: 20px;
            padding-top: 210px;
                p{
                    padding: 10px 100px 10px 10px;
                    color: #451392;
                    margin-top: 20px;
                     font-family: 'Lato', sans-serif;
                }

            .titulo{
                margin-left: 30px;

            }

            .button{
                    background-color: #451392;
                    @include border-radius(10px);
                    margin-left: 10px;
                }
        }
}

.equipo{
     position: relative;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     background-position: top;
     background-size: cover;
     background-position: center;
     min-height: 650px;
     background-image: url(../img/background_equipo.png);
     background-size: cover;
     background-position: center;

    .titulo{
        margin-top: 50px;
    }
        .img_equipo{
            margin-top: 4em;
        }

    .item{
        line-height: 20%;

         .marcelo{
            background-image: url(../img/icon_marcelo_hover.png);
            background-size:cover;
            background-position: center;
          }

        .marcelo:hover img{
            opacity: 0;
            background-size: cover;
          }

        .jona{
            background-image: url(../img/icon_jona_hover.png);
            background-size: cover;
            background-position: center;
          }

        .jona:hover img{
            opacity: 0;
          }


        .claudio{
            background-image: url(../img/icon_claudio_hover.png);
            background-size: cover;
            background-position: center;
          }

        .claudio:hover img{
            opacity: 0;
          }

        .nelson{
            background-image: url(../img/icon_nelson_hover.png);
            background-size: cover;
            background-position: center;
          }

        .nelson:hover img{
            opacity: 0;
          }

        .jona{
            background-image: url(../img/icon_jona_hover.png);
            background-size: cover;
            background-position: center;
          }

        .jona:hover img{
            opacity: 0;
          }

            h5{
                margin-top: 10px;
                color: white;
                font-family: 'Lato', sans-serif;
            }
            span{
               color: #16e85f;
                font-family: 'Lato', sans-serif;
                }
        }
}

.contacto{
    position: relative;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     background-position: top;
     background-size: cover;
     background-position: center;
     min-height: 520px;
     background-image: url(../img/background_contacto.png);
     background-size: cover;
     background-position: center;

    .titulo{
        margin-top: 3em;
    }

     .input{
        margin-top: 3em;
        font-family: 'Lato', sans-serif;

         .button{
            background-color: #451392;
            @include border-radius(10px);
            margin-left: 10px;
        }
    }
}

footer{
        background-color: #1c1a1a;
            img{
                padding: 20px;
            }
    }

    @media only screen and (max-width: 40em) {
        .digital{
             position: relative;
             -webkit-background-size: cover;
             -moz-background-size: cover;
             background-position: top;
             background-size: cover;
             background-position: center;
             color: #fff;
             min-height: 650px;
             background-image: url(../img/background_digital.png);
             background-size: cover;
             background-position: center;

                .texto{
                    color: #fff;
                    padding: 20px;
                    padding-top: 50px;
                        p{
                            padding:30px;
                            color: dimgrey;
                            font-family: 'Lato', sans-serif;
                        }

                    .titulo{
                        margin-left: 20px;
                    }

                    .button{
                            background-color: #451392;
                            @include border-radius(10px);
                            border: 1px solid #fff;
                            margin-left: 10px;
                        }
                }
        }

        .ecommerce{
             position: relative;
             -webkit-background-size: cover;
             -moz-background-size: cover;
             background-position: top;
             background-size: cover;
             background-position: center;
             min-height: 650px;
             background-image: url(../img/background_ecommerce.png);
             background-size: cover;
             background-position: top;

                .texto{
                    padding: 10px;
                    padding-top: 125px;
                        p{
                            margin-top: 10px;
                            padding: 10px;
                            color: #451392;
                            font-family: 'Lato', sans-serif;
                        }

                    .titulo{
                        margin-left: 20px;
                    }

                    .button{
                            background-color: #451392;
                            @include border-radius(10px);
                            margin-left: 10px;
                        }
                }
        }

        .equipo{
     position: relative;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     background-position: top;
     background-size: cover;
     background-position: center;
     min-height: 650px;
     background-image: url(../img/background_equipo.png);
     background-size: cover;
     background-position: center;

    .titulo{
        margin-top: 80px;
    }
        .img_equipo{
            margin-top: 4em;
        }

    .item{
        line-height: 10%;

         .marcelo{
            background-image: url(../img/icon_marcelo_hover.png);
            background-size:cover;
          }

        .marcelo:hover img{
            opacity: 0;
          }

        .jona{
            background-image: url(../img/icon_jona_hover.png);
            background-size: cover;
          }

        .jona:hover img{
            opacity: 0;
          }


        .claudio{
            background-image: url(../img/icon_claudio_hover.png);
            background-size: cover;
          }

        .claudio:hover img{
            opacity: 0;
          }

        .nelson{
            background-image: url(../img/icon_nelson_hover.png);
            background-size: cover;
          }

        .nelson:hover img{
            opacity: 0;
          }

        .jona{
            background-image: url(../img/icon_jona_hover.png);
            background-size: cover;
          }

        .jona:hover img{
            opacity: 0;
          }

            h5{
                margin-top: 10px;
                color: white;
                font-family: 'Lato', sans-serif;
            }
            span{
               color: #16e85f;
                font-family: 'Lato', sans-serif;
                }
        }
}
 }
