@import 'compass/css3';
@import 'colores';

a{
  @include transition-property('all');
  @include transition-duration(2s);
  @include transition-timing-function(ease-in);
}

$azul: #20468f;
$naranja: #e65d4a;

body{
	margin: 0;
	padding: 0;
}
#main{
	height: 100%;
	margin-bottom: 0;
	@include background-image(linear-gradient($azul 10%, $naranja 90%));
	// background: url("../images/bg.png");
}
#noticias{
	margin-top: 2em;
}
@keyframes animatedBackground {
	0% { background-position: -100% 100%; animation-timing-function: ease-in;}
	50% { background-position: 100% 100%; animation-timing-function: ease;}
	100% { background-position: 220% 100%; animation-timing-function: ease-out;}
}
@-webkit-keyframes animatedBackground {
	0% { background-position: -100% 100%; animation-timing-function: ease-in;}
	50% { background-position: 100% 100%; animation-timing-function: ease;}
	100% { background-position: 220% 100%; animation-timing-function: ease-out;}
}
.inside{
	width: 100%;
	// height: 100%;
	background: url("/images/bg.png");
	background-repeat: no-repeat;
	background-position: bottom right; 
	-webkit-animation: animatedBackground 40s linear infinite;
	 -webkit-animation-fill-mode: both;
  	animation-fill-mode: both;
}
.logo{
	margin: 5em 0 0 0;
}
.rss{
	text-align: center;
	font-size: 1.5em;
	i{
		display: inline-block;
		width: 1.6em;
		height: 1.6em;
		border-top: none;
		border-left: 1px solid rgba(white,.5);
		border-right: 1px solid rgba(white,.5);
		border-bottom: 1px solid rgba(white,.5);
		padding: .3em;
		color: $azul;
		background-color: rgba(white,.5);
	}
}
.full{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: initial;
}

.hometext{
	margin-top: 1em;
	// border-top: 1px solid rgba(white, .6);
	font-family: 'Roboto Slab';
	color: white;
	font-weight: 100;
	text-align: center;

}
.htcontainer{
	@include background-image(linear-gradient(rgba(white,.9) 10%, rgba(white,.2) 90%));
	-webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}