@import 'compass/css3';
@import 'colores';

a{
  @include transition-property('all');
  @include transition-duration(2s);
  @include transition-timing-function(ease-in);
}

$azul: #20468f;
$naranja: #e65d4a;

body{
	margin: 0;
	padding: 0;
	background-color: $naranja;
}
#main{
	height: 100%;
	margin-bottom: 0;
	@include background-image(linear-gradient($azul 10%, $naranja 90%));
	// background: url("../images/bg.png");
}
#noticias{
	margin-top: 2em;
}
@keyframes animatedBackground {
	0% { background-position: -100% 100%; animation-timing-function: ease-in;}
	50% { background-position: 100% 100%; animation-timing-function: ease;}
	100% { background-position: 220% 100%; animation-timing-function: ease-out;}
}
@-webkit-keyframes animatedBackground {
	0% { background-position: -100% 100%; animation-timing-function: ease-in;}
	50% { background-position: 100% 100%; animation-timing-function: ease;}
	100% { background-position: 220% 100%; animation-timing-function: ease-out;}
}
.inside{
	width: 100%;
	height: 95%;
	background: url("images/bg.png");
	background-repeat: no-repeat;
	background-position: bottom right; 
	-webkit-animation: animatedBackground 40s linear infinite;
	 -webkit-animation-fill-mode: both;
  	animation-fill-mode: both;
}
.logo{
	margin: 5em 0 0 0;
}
.rss{
	text-align: center;
	font-size: 1.5em;
	i{
		display: inline-block;
		width: 1.6em;
		height: 1.6em;
		border-top: none;
		border-left: 1px solid rgba(white,.5);
		border-right: 1px solid rgba(white,.5);
		border-bottom: 1px solid rgba(white,.5);
		padding: .3em;
		color: $azul;
		background-color: rgba(white,.5);
	}
}
.full{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: initial;
}

.hometext{
	margin-top: 1em;
	// border-top: 1px solid rgba(white, .6);
	font-family: 'Roboto Slab';
	color: white;
	font-weight: 100;
	text-align: center;

}
.htcontainer{
	@include background-image(linear-gradient(rgba(white,.9) 10%, rgba(white,.2) 90%));
	-webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}


.quees{
	padding: .6em 0;
	text-align: right;
	a{
		color: rgba(white, .7);
		&:hover{
			color: rgba(white, .9);
		}
	}
	font-family: 'Roboto Slab';

}

.reveal-modal{
	background: url("images/bgmodal.jpg");
	background-color: white;
	background-position: bottom right;
	padding-bottom: 4em;
	background-repeat: no-repeat;
	h1{
		font-family: 'Montserrat';
		font-weight: 700;
		color: #343234;
		border-bottom: 1px solid rgba(#333,.5);
		margin-bottom: .4em;
	}
	p{
		font-family: 'Roboto Slab';
		color: #343234 - 80;
		line-height: 1.7em;
		font-weight: 200;
	}
}

.overgradient{
	@include background-image(linear-gradient($azul 10%, $naranja 90%));
	width: 100%;
	height: 100%;
	position: absolute;
	display: block;
	opacity: .6;
	z-index: 3;
}


.single{
	background-color: white;
	.featimg{
	position: relative;
		img{
			width: 100%;
		}
	}
	hr{
		width: 30%;
		margin: auto;
		margin-bottom: 2em;
		    border: 0;
	    height: 1px;
	    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
	    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
	    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
	    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
	}

	.autor{
		color: white;
		font-family: 'Roboto Slab';
		position: absolute;
		bottom: 0;
		right: 3em;
		z-index: 999;
	}
}
.thecontent{
	p{
	font-family: 'Roboto Slab';
	color: #666a67;
	font-size: 1.2em;
	line-height: 1.9em;
	text-align: justify;
	font-weight: 200;
	}
	h1{
		font-family: 'Droid Serif';
		color: #414341;
		text-align: center;
		margin: .6em 0;
	}
	h2{
		font-family: 'Droid Serif';
		color: #414341;
		text-align: center;
		margin: .6em 0;
		font-size: 1.8em;
	}
	quote{
		padding-left: 3em;
		font-size: 1.2em;
		border-left: 3px solid $naranja;
		line-height: 2em;
		display: block;
		font-family: 'Roboto Slab';
		color: #666a67;
		font-weight: 300;
		margin-top: 2em;
		margin-bottom: 3em;
		text-align: right;
	}
	a{
		color: $naranja;
		border-bottom: 1px dashed $naranja;
		padding-bottom: .2em;
		&:hover{
			color: $naranja - 80;
		}
	}
}
#noticias{
	h2{
		font-family: 'Roboto Slab';
		text-align: center;
		color: white;
		font-size: 1em;
		background-color: rgba($azul,.7);
		margin-top: 0;
		padding: .3em;
		font-weight: 300;
	}
}
.noticia{
	a{
		img{
			opacity: .7 !important;
			  @include transition-property('all');
			  @include transition-duration(.3s);
			  @include transition-timing-function(ease-in);
		}
		&:hover{
			img{
				opacity: 1 !important;
			}
		}
	}
}


.home{
	position: absolute;
	z-index: 999;
	padding: 1em;
	border: 1px solid white;
	@include border-radius(50%);
	top: .4em;
	left: 3em;
	a{
		opacity: .5;
		&:hover{
			opacity: 1;
		}
	}
}